* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ContainerTarefas h1 {
  text-align: center;
}
.filter-task {
  width: 50% !important;
  margin-left: 25%;
}
.hidden {
  display: none;
}
.area-b {
  display: flex;
  justify-content: space-between;
}
